@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:wght@400&display=swap");

:root {
  --black: #141414;
  --white: #fdfdfd;

  --gray-100: #ebebeb;
  --gray-200: #c0c0c0;
  --gray-300: #979797;
  --gray-400: #595959;

  --beige-100: #fff7f0;
  --beige-200: #ecdccd;
  --beige-300: #e9bf98;
  --beige-400: #725439;
  --beige-500: #37291c;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: "Quicksand";
  color: var(--black);
  overscroll-behavior-y: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  padding: 0 32px;
  width: 1390px;
  max-width: 100%;
}

.content {
  display: flex;
}

@media (max-width: 1120px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 81px;
  }

  .container {
    width: 570px;
    padding: 0 24px;
  }
}

@media (max-width: 576px) {
  html {
    scroll-padding-top: 71px;
  }

  .container {
    width: 100%;
    padding: 0 16px;
  }
}

/* FONTS */

.header-1 {
  font-family: "DM Serif Text";
  font-size: 64px;
  line-height: 72px;
  font-weight: 400;
}

.header-2 {
  font-family: "DM Serif Text";
  font-size: 40px;
  line-height: 44px;
  font-weight: 400;
}

.header-3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
}

.header-4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.body-copy {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.body-copy.bold {
  font-weight: 700;
}

.caption {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

@media (max-width: 1120px) {
  .header-1 {
    font-size: 56px;
    line-height: 60px;
  }

  .header-3 {
    font-size: 24px;
    line-height: 26px;
  }
}

@media (max-width: 768px) {
  .header-1 {
    font-size: 48px;
    line-height: 48px;
  }

  .header-2 {
    font-size: 32px;
    line-height: 36px;
  }

  .header-3 {
    font-size: 20px;
    line-height: 26px;
  }

  .header-4 {
    font-size: 20px;
    line-height: 24px;
  }

  .body-copy {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 576px) {
  .header-1 {
    font-size: 36px;
    line-height: 36px;
  }

  .header-2 {
    font-size: 24px;
    line-height: 26px;
  }

  .header-3 {
    font-size: 18px;
    line-height: 22px;
  }

  .header-4 {
    font-size: 18px;
    line-height: 22px;
  }

  .body-copy {
    font-size: 16px;
    line-height: 20px;
  }
}

/* NAVBAR */

.section.navbar {
  background-color: var(--beige-100);
  transition: 0.5s ease height;
}

.content.navbar {
  padding: 24px 0;
  justify-content: space-between;
  align-items: center;
}

.content.navbar .left-column {
  display: flex;
  flex-direction: column;
}

.content.navbar .left-column a {
  text-decoration: none !important;
}

.content.navbar .right-column {
  display: flex;
  column-gap: 64px;
  align-items: center;
}

.content.navbar .right-column .cta {
  padding: 12px 32px;
  background-color: var(--beige-200);
  transition: 0.5s ease background-color;
  border-radius: 4px;
}

.content.navbar .hamburger-menu {
  display: none;
}

@media (max-width: 1120px) {
  .content.navbar .right-column {
    column-gap: 40px;
  }
}

@media (max-width: 768px) {
  .section.navbar {
    position: fixed;
    z-index: 5;
    top: 0;
    box-shadow: 0 2px 16px 1px rgba(0, 0, 0, 0.1);
  }

  .content.navbar {
    padding: 20px 0;
    position: relative;
  }

  .content.navbar .right-column {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 24px;
  }

  .content.navbar .hamburger-menu {
    display: flex;
    flex-direction: column;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .content.navbar .hamburger-menu .lines {
    position: relative;
    width: 24px;
    height: 2px;
    background-color: var(--beige-500);
    transition: 0s background-color;
    transition-delay: 0.3s;
  }

  .section.navbar.open .content.navbar .hamburger-menu .lines {
    background-color: transparent;
  }

  .content.navbar .hamburger-menu .lines::before,
  .content.navbar .hamburger-menu .lines::after {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: var(--beige-500);
    transform-origin: center;
    transition: 0.3s ease inset, 0.3s ease transform;
    transition-delay: 0.3s, 0s;
  }

  .content.navbar .hamburger-menu .lines::before {
    bottom: 6px;
  }

  .content.navbar .hamburger-menu .lines::after {
    top: 6px;
  }

  .section.navbar.open .content.navbar .hamburger-menu .lines::before {
    bottom: 0px;
    transform: rotate(45deg);
    transition-delay: 0s, 0.3s;
  }

  .section.navbar.open .content.navbar .hamburger-menu .lines::after {
    top: 0px;
    transform: rotate(-45deg);
    transition-delay: 0s, 0.3s;
  }
}

@media (max-width: 576px) {
  .content.navbar {
    padding: 16px 0;
  }
}

/* JUMBOTRON */

.section.jumbotron {
  background-color: var(--beige-500);
  color: var(--white);
}

.content.jumbotron {
  flex-direction: column;
  align-items: center;
  padding: 220px 0;
}

@media (max-width: 768px) {
  .content.jumbotron {
    padding: 201px 0 120px 0;
  }
}

@media (max-width: 576px) {
  .content.jumbotron {
    padding: 191px 0 120px 0;
  }
}

/* FORM */

.section.form {
  background-color: var(--white);
  color: var(--black);
}

.content.form {
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.content.form .inner-wrapper {
  max-width: 948px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.content.form .inner-wrapper form {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content.form .inner-wrapper form .input-group {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  margin-bottom: 24px;
}

.content.form .inner-wrapper form .input-row {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  column-gap: 32px;
}

.content.form .inner-wrapper form label.required::after {
  content: " *";
  color: var(--beige-400);
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.content.form .inner-wrapper form .input-group input,
.content.form .inner-wrapper form .input-group textarea {
  height: auto;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: var(--beige-100);
  outline: 1px solid var(--beige-300);
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.content.form .inner-wrapper form .input-group textarea {
  resize: none;
  height: 134px;
  margin-bottom: 48px;
}

.content.form .inner-wrapper form .input-group input:focus,
.content.form .inner-wrapper form .input-group textarea:focus {
  outline: 1px solid var(--beige-400);
}

.content.form .inner-wrapper form input[type="submit"] {
  padding: 16px 48px;
  background-color: var(--beige-400);
  color: var(--white);
  border-radius: 4px;
  border: none;
  transition: 0.3s ease background-color;
  cursor: pointer;
  align-self: flex-start;
  font-family: inherit;
}

@media (max-width: 768px) {
  .content.form {
    padding: 92px 0;
  }

  .content.form .inner-wrapper {
    max-width: 522px;
  }

  .content.form .inner-wrapper form {
    width: 100%;
  }

  .content.form .inner-wrapper form input[type="submit"] {
    padding: 16px 36px;
  }
}

@media (max-width: 576px) {
  .content.form .inner-wrapper {
    max-width: 100%;
  }

  .content.form .inner-wrapper form .input-row {
    display: flex;
    flex-direction: column;
  }

  .content.form .inner-wrapper form .input-group {
    margin-bottom: 16px;
  }

  .content.form .inner-wrapper form .input-group textarea {
    resize: none;
    height: 128px;
    margin-bottom: 36px;
  }
}

/* FOOTER */

.section.footer {
  background-color: var(--beige-500);
  color: var(--white);
}

.content.footer {
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  row-gap: 20px;
}

@media (max-width: 768px) {
  .content.footer {
    padding: 48px 0;
  }
}

@media (max-width: 576px) {
  .content.footer {
    padding: 36px 0;
  }
}

/* HOVERS */

@media (min-width: 769px) {
  .content.navbar a:not(.cta):hover {
    text-decoration: underline;
  }

  .content.navbar .cta:hover {
    background-color: #d6c7ba;
  }

  .content.form .inner-wrapper form input[type="submit"]:hover {
    background-color: #5c442e;
  }

  .content.footer a:hover {
    text-decoration: underline;
  }
}
