@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:wght@400&display=swap");

:root {
  --black: #141414;
  --white: #fdfdfd;

  --gray-100: #ebebeb;
  --gray-200: #c0c0c0;
  --gray-300: #979797;
  --gray-400: #595959;

  --beige-100: #fff7f0;
  --beige-200: #ecdccd;
  --beige-300: #e9bf98;
  --beige-400: #725439;
  --beige-500: #37291c;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: "Quicksand";
  color: var(--black);
  overscroll-behavior-y: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  padding: 0 32px;
  width: 1390px;
  max-width: 100%;
}

.content {
  display: flex;
}

@media (max-width: 1120px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 81px;
  }

  .container {
    width: 570px;
    padding: 0 24px;
  }
}

@media (max-width: 576px) {
  html {
    scroll-padding-top: 71px;
  }

  .container {
    width: 100%;
    padding: 0 16px;
  }
}

/* FONTS */

.header-1 {
  font-family: "DM Serif Text";
  font-size: 64px;
  line-height: 72px;
  font-weight: 400;
}

.header-2 {
  font-family: "DM Serif Text";
  font-size: 40px;
  line-height: 44px;
  font-weight: 400;
}

.header-3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
}

.header-4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.body-copy {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.body-copy.bold {
  font-weight: 700;
}

.caption {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

@media (max-width: 1120px) {
  .header-1 {
    font-size: 56px;
    line-height: 60px;
  }

  .header-3 {
    font-size: 24px;
    line-height: 26px;
  }
}

@media (max-width: 768px) {
  .header-1 {
    font-size: 48px;
    line-height: 48px;
  }

  .header-2 {
    font-size: 32px;
    line-height: 36px;
  }

  .header-3 {
    font-size: 20px;
    line-height: 26px;
  }

  .header-4 {
    font-size: 20px;
    line-height: 24px;
  }

  .body-copy {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 576px) {
  .header-1 {
    font-size: 36px;
    line-height: 36px;
  }

  .header-2 {
    font-size: 24px;
    line-height: 26px;
  }

  .header-3 {
    font-size: 18px;
    line-height: 22px;
  }

  .header-4 {
    font-size: 18px;
    line-height: 22px;
  }

  .body-copy {
    font-size: 16px;
    line-height: 20px;
  }
}

/* NAVBAR */

.section.navbar {
  background-color: var(--beige-100);
  transition: 0.5s ease height;
}

.content.navbar {
  padding: 24px 0;
  justify-content: space-between;
  align-items: center;
}

.content.navbar .left-column {
  display: flex;
  flex-direction: column;
}

.content.navbar .left-column a {
  text-decoration: none !important;
}

.content.navbar .right-column {
  display: flex;
  column-gap: 64px;
  align-items: center;
}

.content.navbar .right-column .cta {
  padding: 12px 32px;
  background-color: var(--beige-200);
  transition: 0.5s ease background-color;
  border-radius: 4px;
}

.content.navbar .hamburger-menu {
  display: none;
}

@media (max-width: 1120px) {
  .content.navbar .right-column {
    column-gap: 40px;
  }
}

@media (max-width: 768px) {
  .section.navbar {
    position: fixed;
    z-index: 5;
    top: 0;
    box-shadow: 0 2px 16px 1px rgba(0, 0, 0, 0.1);
  }

  .content.navbar {
    padding: 20px 0;
    position: relative;
  }

  .content.navbar .right-column {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 24px;
  }

  .content.navbar .hamburger-menu {
    display: flex;
    flex-direction: column;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .content.navbar .hamburger-menu .lines {
    position: relative;
    width: 24px;
    height: 2px;
    background-color: var(--beige-500);
    transition: 0s background-color;
    transition-delay: 0.3s;
  }

  .section.navbar.open .content.navbar .hamburger-menu .lines {
    background-color: transparent;
  }

  .content.navbar .hamburger-menu .lines::before,
  .content.navbar .hamburger-menu .lines::after {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: var(--beige-500);
    transform-origin: center;
    transition: 0.3s ease inset, 0.3s ease transform;
    transition-delay: 0.3s, 0s;
  }

  .content.navbar .hamburger-menu .lines::before {
    bottom: 6px;
  }

  .content.navbar .hamburger-menu .lines::after {
    top: 6px;
  }

  .section.navbar.open .content.navbar .hamburger-menu .lines::before {
    bottom: 0px;
    transform: rotate(45deg);
    transition-delay: 0s, 0.3s;
  }

  .section.navbar.open .content.navbar .hamburger-menu .lines::after {
    top: 0px;
    transform: rotate(-45deg);
    transition-delay: 0s, 0.3s;
  }
}

@media (max-width: 576px) {
  .content.navbar {
    padding: 16px 0;
  }
}

/* JUMBOTRON */

.section.jumbotron {
  background-image: url("images/jumbotron_image.png");
  background-size: cover;
}

.content.jumbotron {
  padding: 98px 0;
}

.content.jumbotron .circle {
  width: 690px;
  height: 690px;
  padding: 167px 102px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--beige-300);
  border-radius: 50%;
}

.content.jumbotron.mobile {
  display: none;
}

.content.jumbotron .circle .header-1 {
  color: var(--beige-500);
  margin-bottom: 20px;
}

.content.jumbotron .circle .header-4 {
  color: var(--beige-500);
  margin-bottom: 40px;
}

.content.jumbotron .circle .cta {
  padding: 16px 48px;
  background-color: var(--beige-400);
  transition: 0.5s ease background-color;
  color: var(--white);
  border-radius: 4px;
}

@media (max-width: 1120px) {
  .content.jumbotron {
    padding: 108px 0;
  }

  .content.jumbotron .circle {
    width: 600px;
    height: 600px;
    padding: 134px 92px;
  }
}

@media (max-width: 768px) {
  .section.jumbotron {
    margin-top: 81px;
  }

  .content.jumbotron {
    padding: 88px 0;
  }

  .content.jumbotron .circle {
    width: 500px;
    height: 500px;
    padding: 115px 72px;
  }

  .content.jumbotron .circle .cta {
    padding: 16px 36px;
  }

  .content.jumbotron .circle .header-1 {
    margin-bottom: 16px;
  }

  .content.jumbotron .circle .header-4 {
    margin-bottom: 32px;
  }
}

@media (max-width: 576px) {
  .section.jumbotron {
    margin-top: 71px;
  }

  .section.jumbotron .container {
    display: none;
  }

  .content.jumbotron .circle {
    aspect-ratio: 1/1;
    max-width: none;
    height: auto;
    padding: 64px 64px;
    justify-content: center;
    align-items: center;
  }

  .content.jumbotron:not(.mobile) {
    display: none;
  }

  .content.jumbotron.mobile {
    display: flex;
  }

  .content.jumbotron.mobile .circle .inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100vw;
    padding: 0 16px;
  }

  .content.jumbotron .circle .header-1 {
    margin-bottom: 8px;
  }

  .content.jumbotron .circle .header-4 {
    margin-bottom: 24px;
  }
}

/* ABOUT */

.section.about {
  background-color: var(--gray-100);
}

.content.about {
  padding: 120px 0;
  flex-direction: column;
  align-items: center;
}

.content.about .header-4 {
  margin-bottom: 16px;
}

.content.about .header-2 {
  margin-bottom: 68px;
  color: var(--beige-500);
}

.content.about .columns {
  display: flex;
  column-gap: 80px;
}

.content.about .columns .portrait {
  flex-shrink: 0;
  width: 375px;
  height: 420px;
  background-image: url("images/susan_portrait.png");
  background-size: cover;
}

.content.about .columns .right .paragraph {
  margin-bottom: 12px;
}

.content.about .columns .right .paragraph:nth-child(2) {
  margin-bottom: 24px;
}

.content.about .columns .right .grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 67px;
  row-gap: 12px;
}

.content.about .columns .right .grid .unit {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.content.about .columns .right .grid .unit img {
  width: 36px;
  height: 36px;
}

@media (max-width: 1120px) {
  .content.about .header-4 {
    margin-bottom: 8px;
  }

  .content.about .header-2 {
    max-width: 776px;
    text-align: center;
  }

  .content.about .columns .portrait {
    width: 250px;
    height: 280px;
  }

  .content.about .columns .right .grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 64px;
    row-gap: 8px;
  }
}

@media (max-width: 768px) {
  .content.about {
    padding: 92px 0;
  }

  .content.about .header-2 {
    margin-bottom: 40px;
    max-width: 522px;
  }

  .content.about .columns {
    flex-direction: column;
    align-items: center;
  }

  .content.about .columns .portrait {
    width: 330px;
    height: 370px;
    margin-bottom: 32px;
  }

  .content.about .columns .right .grid {
    column-gap: 48px;
  }

  .content.about .columns .right .grid .unit img {
    width: 34px;
    height: 34px;
  }
}

@media (max-width: 576px) {
  .content.about {
    padding: 72px 0;
  }

  .content.about .columns .portrait {
    flex-shrink: auto;
    aspect-ratio: 280/314;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }

  .content.about .columns .right .grid {
    grid-template-columns: auto;
    grid-template-rows: repeat(9, 1fr);
    row-gap: 8px;
  }
}

/* WHY */

.section.why {
  background-color: var(--beige-100);
}

.content.why {
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  row-gap: 48px;
}

.content.why .header-2 {
  color: var(--beige-500);
}

.content.why .columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 64px;
}

.content.why .columns .column .image {
  width: 100%;
  height: 240px;
  margin-bottom: 24px;
  background-size: cover;
}

.content.why .columns .column .image.first {
  background-image: url("images/why_section_image1.png");
}

.content.why .columns .column .image.second {
  background-image: url("images/why_section_image2.png");
}

.content.why .columns .column .image.third {
  background-image: url("images/why_section_image3.png");
}

.content.why .columns .column .header-3 {
  margin-bottom: 8px;
}

@media (max-width: 1120px) {
  .content.why .columns {
    column-gap: 32px;
  }
}

@media (max-width: 768px) {
  .content.why {
    padding: 92px 0;
    row-gap: 40px;
  }

  .content.why .header-2 {
    text-align: center;
  }

  .content.why .columns {
    grid-template-columns: auto;
    row-gap: 32px;
  }

  .content.why .columns .column .image {
    margin-bottom: 16px;
  }

  .content.why .columns .column .header-3 {
    margin-bottom: 4px;
  }
}

@media (max-width: 576px) {
  .content.why {
    padding: 72px 0;
  }
}

/* PROCESS */

.section.process {
  background-color: var(--beige-500);
  color: var(--white);
}

.content.process {
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.content.process .header-2 {
  margin-bottom: 48px;
}

.content.process .timeline {
  display: flex;
  margin-bottom: 90px;
}

.content.process .timeline .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  max-width: 284px;
}

.content.process .timeline .step:nth-child(even) {
  width: 64px;
}

.content.process .timeline .step .header-3 {
  margin-bottom: 8px;
  white-space: nowrap;
}

.content.process .timeline .step .caption {
  margin-bottom: 42px;
}

.content.process .timeline .step .line {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.content.process .timeline .step .line::before,
.content.process .timeline .step .line::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 12px;
  background-color: var(--beige-400);
  top: 50%;
  transform: translateY(-50%);
}

.content.process .timeline .step .line::before {
  left: 0;
}

.content.process .timeline .step .line::after {
  right: 0;
}

.content.process .timeline .step:first-child .line::before {
  display: none;
}

.content.process .timeline .step:last-child .line::after {
  display: none;
}

.content.process .timeline .step .dot {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  background-color: var(--beige-300);
  border-radius: 50%;
  z-index: 1;
}

.content.process .cta {
  padding: 16px 48px;
  background-color: var(--beige-300);
  transition: 0.5s ease background-color;
  color: var(--beige-500);
  border-radius: 4px;
}

@media (max-width: 768px) {
  .content.process {
    padding: 92px 0;
  }

  .content.process .header-2 {
    margin-bottom: 40px;
  }

  .content.process .timeline {
    flex-direction: column;
    margin-bottom: 52px;
    row-gap: 24px;
  }

  .content.process .timeline .step {
    align-items: flex-start;
    text-align: left;
    padding-left: 64px;
    max-width: 418px;
  }

  .content.process .timeline .step::before {
    content: "";
    width: 44px;
    height: 44px;
    background-color: var(--beige-300);
    border-radius: 50%;
    margin-bottom: -44px;
    transform: translateX(-64px);
  }

  .content.process .timeline .step:nth-child(even) {
    display: none;
  }

  .content.process .timeline .step .line {
    display: none;
  }

  .content.process .timeline .step .header-3 {
    margin-bottom: 4px;
    white-space: normal;
  }

  .content.process .timeline .step .caption {
    margin-bottom: 0;
  }

  .content.process .cta {
    padding: 16px 36px;
  }
}

@media (max-width: 576px) {
  .content.process {
    padding: 72px 0;
  }

  .content.process .timeline .step {
    padding-left: 52px;
    max-width: 100%;
  }

  .content.process .timeline .step::before {
    width: 32px;
    height: 32px;
    margin-bottom: -32px;
    transform: translateX(-52px);
  }

  .content.process .cta {
    padding: 16px 24px;
  }
}

/* FAQ */

.section.faq {
  background-color: var(--white);
  will-change: height;
}

.content.faq {
  flex-direction: column;
  row-gap: 48px;
  padding: 120px 0;
  color: var(--beige-500);
  align-items: center;
  will-change: height;
}

.content.faq .header-2 {
  text-align: center;
}

.content.faq .questions {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  will-change: height;
  padding: 0 20px;
}

.content.faq .questions .question {
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: var(--beige-200);
  user-select: none;
  transition: 0.5s ease height;
  will-change: height;
}

.content.faq .questions .question .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--beige-300);
  cursor: pointer;
  transition: 0.5s ease background-color;
}

.content.faq .questions .question .top .button {
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 32px;
}

.content.faq .questions .question .top .button::before,
.content.faq .questions .question .top .button::after {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--beige-500);
}

.content.faq .questions .question .top .button::after {
  margin-top: -3px;
  transform: rotate(90deg);
  transition: 0.5s ease transform;
}

.content.faq .questions .question.open .top .button::after {
  transform: rotate(0deg);
}

.content.faq .questions .question .bottom {
  padding: 24px 40px;
}

.content.faq .questions .question .bottom ul {
  list-style: disc;
  padding-left: 16px;
}

.content.faq .questions .question .bottom li {
  list-style: disc;
}

@media (max-width: 1120px) {
  .content.faq .questions {
    padding: 0 32px;
  }
}

@media (max-width: 768px) {
  .content.faq {
    padding: 92px 0;
  }

  .content.faq .questions {
    padding: 0;
  }

  .content.faq .questions .question .top {
    padding: 16px 24px;
  }

  .content.faq .questions .question .bottom {
    padding: 16px 24px;
  }
}

@media (max-width: 576px) {
  .content.faq {
    padding: 72px 0;
  }

  .content.faq .questions .question .top {
    padding: 16px 20px;
  }

  .content.faq .questions .question .bottom {
    padding: 16px 20px;
  }
}

/* FOOTER */

.section.footer {
  background-color: var(--beige-500);
  color: var(--white);
}

.content.footer {
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  row-gap: 20px;
}

@media (max-width: 768px) {
  .content.footer {
    padding: 48px 0;
  }
}

@media (max-width: 576px) {
  .content.footer {
    padding: 36px 0;
  }
}

/* HOVERS */

@media (min-width: 769px) {
  .content.navbar a:not(.cta):hover {
    text-decoration: underline;
  }

  .content.navbar .cta:hover {
    background-color: #d6c7ba;
  }

  .content.jumbotron .circle .cta:hover {
    background-color: #5c442e;
  }

  .content.process .cta:hover {
    background-color: #cda885;
  }

  .content.faq .questions .question .top:hover {
    background-color: #cda885;
  }

  .content.footer a:hover {
    text-decoration: underline;
  }
}
